In [142]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from matplotlib.ticker import MultipleLocator

# caminhos para os csvs
ocorrencia_path = './dados/ocorrencia.csv'    
aeronave_path = './dados/aeronave.csv'    
ocorrencia_tipo_path = './dados/ocorrencia_tipo.csv'    
fator_contribuinte_path = './dados/fator_contribuinte.csv'    
recomendacao_path = './dados/recomendacao.csv'    

# datesets completos
ocorrencia = pd.read_csv(ocorrencia_path, encoding="latin1", sep=";")
aeronave = pd.read_csv(aeronave_path, encoding="latin1", sep=";")
ocorrencia_tipo = pd.read_csv(ocorrencia_tipo_path, encoding="latin1", sep=";")
fator_contribuinte = pd.read_csv(fator_contribuinte_path, encoding="latin1", sep=";")
recomendacao = pd.read_csv(recomendacao_path, encoding="latin1", sep=";")

# add coluna de class = 0 (teve fatalidade) ou class = 1 (teve fatalidade)
ocorr_fatais = aeronave['aeronave_fatalidades_total'] > 0
classes = []
for ocorr in ocorr_fatais:
    if ocorr:
        classes.append(1)
    else:
        classes.append(0)

aeronave['classes'] = classes

ocorrencia.head(5)

,codigo_ocorrencia,codigo_ocorrencia1,codigo_ocorrencia2,codigo_ocorrencia3,codigo_ocorrencia4,ocorrencia_classificacao,ocorrencia_latitude,ocorrencia_longitude,ocorrencia_cidade,ocorrencia_uf,...,ocorrencia_dia,ocorrencia_hora,investigacao_aeronave_liberada,investigacao_status,divulgacao_relatorio_numero,divulgacao_relatorio_publicado,divulgacao_dia_publicacao,total_recomendacoes,total_aeronaves_envolvidas,ocorrencia_saida_pista
0,87125,87125,87125,87125,87125,INCIDENTE,-7.219166666666,-39.26944444444,JUAZEIRO DO NORTE,CE,...,11/05/2025,04:20:00,SIM,FINALIZADA,***,NÃO,NaN,0,1,NÃO
1,87124,87124,87124,87124,87124,INCIDENTE,-18.88361111111,-48.22527777777,UBERLÂNDIA,MG,...,08/05/2025,14:00:00,SIM,FINALIZADA,***,NÃO,NaN,0,1,NÃO
2,87123,87123,87123,87123,87123,INCIDENTE,-23.43555555555,-46.47305555555,GUARULHOS,SP,...,09/05/2025,18:45:00,SIM,FINALIZADA,***,NÃO,NaN,0,1,NÃO
3,87122,87122,87122,87122,87122,INCIDENTE,-29.71083333333,-53.69222222222,SANTA MARIA,RS,...,04/05/2025,14:45:00,SIM,FINALIZADA,***,NÃO,NaN,0,1,NÃO
4,87121,87121,87121,87121,87121,INCIDENTE,-20.81722222222,-49.40694444444,SÃO JOSÉ DO RIO PRETO,SP,...,10/05/2025,10:00:00,SIM,FINALIZADA,***,NÃO,NaN,0,1,NÃO

In [143]:
ocorrencia_aeronave = ocorrencia.merge(
    aeronave, 
    left_on="codigo_ocorrencia2", 
    right_on="codigo_ocorrencia2", 
    how="inner"
)[['aeronave_registro_categoria', 'aeronave_fase_operacao', 'aeronave_tipo_operacao', 'classes']]

ocorrencia_aeronave.head(5)

,aeronave_registro_categoria,aeronave_fase_operacao,aeronave_tipo_operacao,classes
0,AVIÃO,DESCIDA,REGULAR,0
1,AVIÃO,SUBIDA,REGULAR,0
2,***,DECOLAGEM,REGULAR,0
3,AVIÃO,DECOLAGEM,REGULAR,0
4,AVIÃO,DECOLAGEM,REGULAR,0

In [144]:
# faz one-hot encoding em cada coluna
ocorrencia_aeronave_encoded = pd.get_dummies(
    ocorrencia_aeronave, columns=['aeronave_registro_categoria', 'aeronave_fase_operacao', 'aeronave_tipo_operacao']
)
ocorrencia_aeronave_encoded

,classes,aeronave_registro_categoria_***,aeronave_registro_categoria_ANFIBIO,aeronave_registro_categoria_ANFÍBIO,aeronave_registro_categoria_AVIÃO,aeronave_registro_categoria_BALÃO,aeronave_registro_categoria_DIRIGÍVEL,aeronave_registro_categoria_DRONE,aeronave_registro_categoria_GIROCÓPTERO,aeronave_registro_categoria_HELICÓPTERO,...,aeronave_tipo_operacao_AERODESPORTIVA,aeronave_tipo_operacao_AGRÍCOLA,aeronave_tipo_operacao_ESPECIALIZADA,aeronave_tipo_operacao_EXPERIMENTAL,aeronave_tipo_operacao_INSTRUÇÃO,aeronave_tipo_operacao_NÃO REGULAR,aeronave_tipo_operacao_POLICIAL,aeronave_tipo_operacao_PRIVADA,aeronave_tipo_operacao_REGULAR,aeronave_tipo_operacao_TÁXI AÉREO
0,0,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,0,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
2,0,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,0,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
4,0,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13296,1,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
13297,0,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
13298,1,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
13299,1,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
13300,0,False,False,False,True,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False

In [145]:
def sigmoid(z):
    return 1 / (1 + np.exp(-z))

def logistic_regression_gradient_descent(X, y, alpha=0.01, epochs=1000):
    m, n = X.shape
    theta = np.zeros(n)

    for _ in range(epochs):
        z = X @ theta
        y_pred = sigmoid(z)
        gradient = (1/m) * (X.T @ (y_pred - y))
        theta -= alpha * gradient

    return theta

def predict(X, theta, threshold=0.5):
    return (sigmoid(X @ theta) >= threshold).astype(int)

def add_bias(X):
    return np.c_[np.ones(X.shape[0]), X]

In [146]:
# devide em trainamento e teste
from sklearn.model_selection import train_test_split

# temos menos amostras de uma classe do que outra. restringe para ficar meio a meio
cutoff = len(ocorrencia_aeronave_encoded[ocorrencia_aeronave_encoded['classes'] == 1])

# escolhe metade de uma classe e metade de outra
class1 = ocorrencia_aeronave_encoded[ocorrencia_aeronave_encoded['classes'] == 1].sample(n=int(cutoff / 2))
class0 = ocorrencia_aeronave_encoded[ocorrencia_aeronave_encoded['classes'] == 0].sample(n=int(cutoff / 2))

balanced_df = pd.concat([class1, class0], axis=0, ignore_index=True)
balanced_df = balanced_df.sample(frac=1) # embralha

X = balanced_df.drop(columns='classes').values

y = balanced_df['classes'].values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

X_train = add_bias(X_train)
X_test = add_bias(X_test)

In [147]:
theta = logistic_regression_gradient_descent(X_train, y_train, alpha=0.001, epochs=10000)

print("Learned parameters:", theta)

Learned parameters: [ 1.58842210e-02 -4.43865791e-02  0.00000000e+00  0.00000000e+00
 -2.94256926e-01  0.00000000e+00  0.00000000e+00  0.00000000e+00
  9.25765671e-03  7.57585197e-02  0.00000000e+00 -1.03622236e-02
  9.59764045e-03  2.70276132e-01 -1.08569994e-02 -1.97218424e-02
  3.09231144e-02 -4.65832544e-05  0.00000000e+00  1.05527072e-02
 -1.79247166e-01  1.33450839e-01 -5.55504240e-02  0.00000000e+00
 -4.95230296e-03  0.00000000e+00  1.10428551e-02  0.00000000e+00
  6.18789013e-02  0.00000000e+00 -7.12558680e-02  5.85280879e-02
  0.00000000e+00  3.04578316e-01  0.00000000e+00  0.00000000e+00
  1.06393624e-02  6.62116911e-02  2.08625823e-02  0.00000000e+00
 -3.39649619e-01 -1.20453429e-02  0.00000000e+00  1.98409316e-02
 -4.97065387e-02  1.03632209e-02  8.97193497e-03 -9.63587219e-02
  1.07431086e-01 -1.55891770e-01  1.09279442e-02  3.44895873e-01
  5.44216009e-02  1.93564800e-01 -9.75112261e-02  0.00000000e+00
 -2.87008912e-02  4.15236625e-01 -5.96124344e-01 -1.24934390e-01]

In [148]:
# ve no conjunto de teste
predictions = predict(X_test, theta)
print(np.count_nonzero(predictions) / len(predictions))

correct = 0
for i in range(len(y_test)):
    if predictions[i] == y_test[i]: correct += 1
    # else:
    #     print(f"Incorreto: {y_test[i]} rotulado como {predictions[i]}")
        
print(f"Acc = {round(correct / len(y_test), 4) * 100} %")

0.5693069306930693
Acc = 78.22 %