In [5]:
import pandas as pd

# Create a sample DataFrame
data = {'City': ['New York', 'London', 'Paris', 'New York', 'London'],
        'Value': [10, 20, 15, 25, 30]}
df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)

# One-hot encode the 'City' column
df_encoded = pd.get_dummies(df, columns=['City'])

print("\nDataFrame after one-hot encoding 'City' column:")
print(df_encoded)

df_encoded

Original DataFrame:
       City  Value
0  New York     10
1    London     20
2     Paris     15
3  New York     25
4    London     30

DataFrame after one-hot encoding 'City' column:
   Value  City_London  City_New York  City_Paris
0     10        False           True       False
1     20         True          False       False
2     15        False          False        True
3     25        False           True       False
4     30         True          False       False

   Value  City_London  City_New York  City_Paris
0     10        False           True       False
1     20         True          False       False
2     15        False          False        True
3     25        False           True       False
4     30         True          False       False